@import "src/colors";

.specialization {
  flex-grow: 2;
  flex-basis: 75%;
}

.weapon {
  flex-grow: 2;
  flex-basis: 35%;
}

.sidearm {
  flex-grow: 1;
  flex-basis: 15%;
}

.armor {
  flex-grow: 1;
  flex-basis: 45%;
}

.skill {
  flex-grow: 1;
}

.card {
  background-color: $card-background;
  color: $text-color;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  background-color: $card-background-hover;
}

.icon {
  float: left;
  margin: 5px;
  height: 100px;
}

.weapon .icon {
  height: 75px;
}

.unselected {
  margin: auto;
}

.specializationName {
  font-size: xx-large;
}

.exotic{
    color: $exotic;
}

.unselected{
    margin: auto;
}

.name {
  float: left;
  font-size: medium;
}

.talentIcon{
    float: right;
    height: 75px;
    margin: 5px;
}

.weaponSelectorTitle{
    font-size: large;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.weaponSelectorItem{
  border-radius: 5px;
  margin: 5px;
  padding-left: 5px;
}

.weaponSelectorItem:hover{
  background-color: $section-hover;
}

.weaponSelectorContainer{
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 500px;
}
.named {
  color: $orange;
}

.armorSelectorTitle{
  font-size: large;
  font-weight: bolder;
  border-bottom: 1px solid white;
}

.armorSelectorItem{
border-radius: 5px;
margin: 5px;
padding-left: 5px;
}

.armorSelectorItem:hover{
background-color: $section-hover;
}

.armorSelectorContainer{
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 500px;
}

.gearsetSelectorContainer {
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 500px;
}
