.createBuildGrid{
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.signature{
    flex-grow: 2;
    flex-basis: 75%;
}

.gernade{
    flex-grow: 1;
    flex-basis: 15%;
}

.weapon{
    flex-grow: 2;
    flex-basis: 35%;
}

.sidearm{
    flex-grow: 1;
    flex-basis: 15%;
}

.armor{
    flex-grow: 2;
    flex-basis: 45%;
}

.skill{
    flex-grow: 2;
}

.card{
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 5px;
    /* display: flex; */
}

.card:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.icon{
    float: left;
    margin: 5px;
    height: 100px;
}

.weapon .icon{
    height: 75px;
}

.name{
    float: left;
    font-size: medium;
}

.named{
    color: orange;
}

.unselected{
    margin: auto;
}