.createBuildGrid{
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.signature{
    flex-grow: 2;
    flex-basis: 80%;
}

.gernade{
    flex-grow: 1;
    flex-basis: 20%;
}

.weapon{
    flex-grow: 2;
    flex-basis: 40%;
}

.sidearm{
    flex-grow: 1;
    flex-basis: 20%;
}

.armor{
    flex-grow: 2;
    flex-basis: 50%;
}

.skill{
    flex-grow: 2;
}