.detailedStatsGrid {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.detailedStatsGrid > div {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

.statsIcons {

}

.statsList {

}

.breakdown {

}

.dsIco {
    height: 50px;
    width: 50px;
    border: 1px solid white;
}

.detailedStatsLine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid white;
}

.breakdownTitle {
    border: 1px solid white;
}

.breakdownDescription {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid white;
}

.breakdownItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
