@import "src/colors";

.createBuildGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: $orange;
}

.button:hover {
  background-color: $dark-orange;
}
