.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sidebarGrid {
    flex-basis: 20%;
    padding: 10px;
}

.sidebarGrid > * {
    padding: 10px;
}

.lineBelow {
    border-bottom: 1px solid white;
}

.skillsCircle {
    flex-grow: 1;
}

.attrsSection {
    justify-content: space-between;
}

.attrsIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.defenseStats {
    text-align: end;
}

.skillTier {
    text-align: end;
}

.skillCell {
    border: 2px solid white;
    background: gray;
    height: 25px;
    flex-grow: 1;
}
