.sidebarGrid > * {
    padding: 10px;
}

.lineBelow {
    border-bottom: 1px solid white;
}

.skillsCircle {
}

.attrsSection {
}

.attrsIcon {
    height: 1em;
}

.defenseStats {
    text-align: end;
}

.skillTier {
    text-align: end;
}

.skillCell {
    border: 2px solid white;
    background: gray;
    height: 1em;
    flex-grow: 1;
}
