@import 'src/colors';

.sidebarGrid > * {
  padding: 10px;
}

.lineBelow {
  border-bottom: 1px solid $light-gray;
}

.skillsCircle {
}

.attrsSection {
}

.attrsIcon {
  height: 1em;
  padding-right: 10px;
}

.defenseStats {
  text-align: end;
}

.skillTier {
  text-align: end;
}

.skillCell {
  border: 2px solid $light-gray;
  height: 1em;
}

.filled {
  background: $yellow;
}
