.statsGrid{
    padding: 10px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.statsModal{
    background-color: rgba(0, 0, 0, 0.315);
    color: rgba(255, 255, 255, 1);
}

.card{
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 5px;
    display: flex;
}

.card:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.icon{
    float: left;
    margin: 5px;
    height: 100px;
}

.statAmount{
    padding-left: 10px;
    float: left;
    font-size: medium;
    font-weight: bold;
    color: orange;
}

.statName{
    padding-left: 20px;
    float: right;
    font-size: medium;
}
