.statsGrid {
    padding: 5px;
    justify-content: space-between;
}

.grid {
    max-height: 500px;
}

.sectionSelectionGrid {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

.sectionIcon {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 5px;
}

.sectionIcon:hover {
    background-color: rgba(95, 95, 95, 0.55);
}

.statValuesGrid {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 15px;
    margin: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.statBreakdownGrid {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    margin: 5px;
}
