.statsModal{
    background-color: rgba(0, 0, 0, 0.705);
    color: rgba(255, 255, 255, 1);
}

.statsGrid{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.grid{
    flex: 1;
    box-sizing: border-box;
    max-height: 500px;
}

.sectionSelectionGrid {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 5px;
}

.dsIco {
    display: flex;
    align-self: center;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.dsIco:hover {
    background-color: orange;
}

.statValuesGrid{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.statSection {
    display: flex;
    flex-direction: column;
}

.stat{
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 5px;
}

.statAmount{
    padding-left: 10px;
    float: left;
    font-size: medium;
    font-weight: bold;
    color: orange;
}

.statName{
    padding-left: 20px;
    padding-right: 40px;
    float: right;
    font-size: medium;
}

.statBreakdownGrid{
    display: flex;
    flex-direction: column;
    flex-basis: 37%;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 5px;
}

.breakdownDescription {
    display: flex;
    flex-direction: column;
}

.breakdownItem {
    display: flex;
    flex-direction: column;
}
