.talentsGrid {
    padding: 10px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Borda, sans-serif;
}

.weaponIcons {

}

.weaponTalents {

}

.talentBreakdown {

}
