$red: #ED4040;
$blue: #70B0F2;
$yellow: #E9C16B;
$orange: orange;
$dark-orange: peru;
$transparent: #00000000;
$light-gray: #E0E0E0;
$card-background: rgba(0, 0, 0, 0.55);
$card-background-hover: rgba(0, 0, 0, 0.7);
$text-color: white;
$section-hover: rgba(95, 95, 95, 0.55);
